language: ruby
cache: bundler
rvm:
  - 2.5
  - 2.6
  - 2.7
script:
  - bundle install --path vendor/bundle
  - bundle exec rspec
  - gem build transferzero-sdk.gemspec
  - gem install ./transferzero-sdk-1.18.0.gem
