=begin
#BitPesa Private API

#API specification used for internal BitPesa endpoints

OpenAPI spec version: 1.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.0.0-beta3

=end

require 'uri'

module TransferZero
  class BankAccountDetailsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end


    # Fetching bank account details
    # Returns single bank account details based on the currency
    # @param currency Currency of the required bank account details.  Example: &#x60;/v1/bank_account_details/NGN&#x60;
    # @param [Hash] opts the optional parameters
    # @return [BankAccountDetailsResponse]
    def get_bank_account_details(currency, opts = {})
      data, _status_code, _headers = get_bank_account_details_with_http_info(currency, opts)
      data
    end

    # Fetching bank account details
    # Returns single bank account details based on the currency
    # @param currency Currency of the required bank account details.  Example: &#x60;/v1/bank_account_details/NGN&#x60;
    # @param [Hash] opts the optional parameters
    # @return [Array<(BankAccountDetailsResponse, Fixnum, Hash)>] BankAccountDetailsResponse data, response status code and response headers
    def get_bank_account_details_with_http_info(currency, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankAccountDetailsApi.get_bank_account_details ...'
      end
      # verify the required parameter 'currency' is set
      if @api_client.config.client_side_validation && currency.nil?
        fail ArgumentError, "Missing the required parameter 'currency' when calling BankAccountDetailsApi.get_bank_account_details"
      end
      # resource path
      local_var_path = '/bank_account_details/{Currency}'.sub('{' + 'Currency' + '}', currency.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['AuthorizationKey', 'AuthorizationNonce', 'AuthorizationSecret', 'AuthorizationSignature']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BankAccountDetailsResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankAccountDetailsApi#get_bank_account_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
