=begin
#BitPesa Private API

#API specification used for internal BitPesa endpoints

OpenAPI spec version: 1.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.0.0-beta3

=end

require 'uri'

module TransferZero
  class OpenCorporatesSenderUpdateApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end


    # Update Sender with data retrieved from Open Corporates
    # This endpoint searches for a company on Open Corporates API and updates the associated Sender fields with the search results
    # @param open_corporates_sender_update_request 
    # @param [Hash] opts the optional parameters
    # @return [OpenCorporatesSenderUpdateResponse]
    def update_sender(open_corporates_sender_update_request, opts = {})
      data, _status_code, _headers = update_sender_with_http_info(open_corporates_sender_update_request, opts)
      data
    end

    # Update Sender with data retrieved from Open Corporates
    # This endpoint searches for a company on Open Corporates API and updates the associated Sender fields with the search results
    # @param open_corporates_sender_update_request 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OpenCorporatesSenderUpdateResponse, Fixnum, Hash)>] OpenCorporatesSenderUpdateResponse data, response status code and response headers
    def update_sender_with_http_info(open_corporates_sender_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OpenCorporatesSenderUpdateApi.update_sender ...'
      end
      # verify the required parameter 'open_corporates_sender_update_request' is set
      if @api_client.config.client_side_validation && open_corporates_sender_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'open_corporates_sender_update_request' when calling OpenCorporatesSenderUpdateApi.update_sender"
      end
      # resource path
      local_var_path = '/open_corporates/update_sender'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(open_corporates_sender_update_request)
      auth_names = ['AuthorizationKey', 'AuthorizationNonce', 'AuthorizationSecret', 'AuthorizationSignature']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'OpenCorporatesSenderUpdateResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OpenCorporatesSenderUpdateApi#update_sender\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
